.sidebar_parent {
  border: 1px solid #8cc327;
  height: 93vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header_parent {
  border: 1px solid #8cc327;
  height: 7vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (max-width: 768px) {
  .sidebar_parent {
    border:0px!important;
    height:fit-content;
  }
  .header_parent {
    border:0px;
    height: fit-content;
  }
}
